		<div class="mt-4 mx-auto text-center align-items-center alert alert-success row" style="max-width: 800px;">
			<div class="col-3">
				<i class="fa fa-3x fa-spinner fa-spin"></i>
			</div>
			<div class="col vagl">{{ 'SROVNANI.KALKULUJI' | translate }}</div>
			<div id="crossfade" class="col hidden-md-down">
				<img src="{{ LOGA['AXA Assistance'] }}">
				<img src="{{ LOGA['ČSOB Pojišťovna'] }}">
				<img src="{{ LOGA['Direct'] }}">
				<img src="{{ LOGA['Allianz'] }}">
				<img src="{{ LOGA['Uniqa'] }}">
				<img src="{{ LOGA['Slavia'] }}">
				<img src="{{ LOGA['Colonnade'] }}">
				<img src="{{ LOGA['Generali'] }}">				
			</div>
		</div>   
